org.codeaurora.mle.tflite
input_format = 0
BlueMean = 0.0
GreenMean = 0.0
RedMean = 0.0
BlueSigma = 0.0
GreenSigma = 0.0
RedSigma = 0.0
UseNorm = false
preprocess_type = 1
confidence_threshold = 0.6
model = "/data/misc/camera/detect.tflite"
labels = "/data/misc/camera/labelmap.txt"
delegate = "dsp"
num_threads = 2