{
	"log_path": "/tmp/rb5-scs",
	"log_duration" : 5,
	"simulation": 0,
	"sensors": [
		{
			"name": "cam_ir",
			"enabled": 1,
			"rate": 30,
			"config_resolution": 0,
			"width": 640,
			"height": 480,
			"priority": 2,
			"save-format": "png"
		},
		{
			"name": "cam_stereo",
			"enabled": 1,
			"rate": 30,
			"config_resolution": 0,
			"width": 640,
			"height": 480,
			"save-format": "png"
		},
		{
			"name": "cam_thermal",
			"enabled": 1,
			"rate": 30,
			"config_resolution": 0,
			"width": 80,
			"height": 60,
			"priority": 1,
			"save-format": "png"
		},
		{
			"name": "cam_tracking",
			"enabled": 1,
			"rate": 30,
			"config_resolution": 0,
			"width": 640,
			"height": 480,
			"save-format": "png"
		},
		{
			"name": "chirp",
			"enabled": 1,
			"rate": 1000
		},
		{
			"name": "gps",
			"enabled": 1,
			"rate": 30
		},
		{
			"name": "imu_4622x",
			"enabled": 0,
			"rate": 500
		},
		{
			"name": "imu_42688",
			"enabled": 1,
			"rate": 500
		},
		{
			"name": "mag",
			"enabled": 1,
			"rate": 30
		},
		{
			"name": "pressure",
			"enabled": 1,
			"rate": 30
		},
		{
			"name": "temp",
			"enabled": 1,
			"rate": 30
		},
		{
			"name": "perf",
			"enabled": 1,
			"rate": 10
		}
	]
}
