org.codeaurora.mle.snpe
input_format = 3
BlueMean = 128.0
GreenMean = 128.0
RedMean = 128.0
BlueSigma = 128.0
GreenSigma = 128.0
RedSigma = 128.0
UseNorm = true
preprocess_type = 1
confidence_threshold = 0.6
output_layers = < "add_6", "Postprocessor/BatchMultiClassNonMaxSuppression" >
runtime = 1
model = "/data/misc/camera/mobilenet-SSD.dlc"
labels = "/data/misc/camera/coco_labels.txt"