org.codeaurora.mle.snpe
input_format = 3
BlueMean = 0.0
GreenMean = 0.0
RedMean = 0.0
BlueSigma = 255.0
GreenSigma = 255.0
RedSigma = 255.0
UseNorm = true
preprocess_type = 1
confidence_threshold = 0.4
nms_threshold = 0.5
max_detection_result = 10
output_layers = < "Conv_296", "Conv_247", "Conv_198" >
runtime = 1
model = "/data/misc/camera/yolov5n.dlc"
labels = "/data/misc/camera/coco_labels.txt"
